/* 
  Estilos para la vista principal del chat (panel derecho).
*/

.ms-chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--messenger-chat-bg);
    position: relative;
    overflow: hidden;
}

/* Patrón de fondo */
.ms-chat-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/chat-bg.png');
    background-size: 400px;
    opacity: 0.08;
    z-index: 0;
    pointer-events: none;
}

.ms-chat-header {
    height: 59px;
    background-color: var(--messenger-header-bg);
    display: flex;
    align-items: center;
    padding: 10px 16px;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1px solid var(--messenger-border);
}

.ms-user-meta {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ms-current-title {
    font-weight: 500;
    font-size: 16px;
}

.ms-header-buttons {
    display: flex;
    gap: 15px;
    color: var(--messenger-icon);
    font-size: 18px;
}


.ms-return-icon {
    display: none;
    background: none;
    border: none;
    font-size: 22px;
    color: var(--messenger-icon);
    cursor: pointer;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .ms-return-icon {
        display: block;
    }
}

.ms-circle-img {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: #dfe5e7;
    overflow: hidden;
}